*{
    box-sizing: border-box;
}
body{
    display:flex;
    flex-direction: column;
    margin:0px;
    padding:0px;
    flex-wrap: wrap;
    
   
}
header{
    display: flex;
    flex-direction:column;
    background-color: black;
    background-image: url(assets/backg2.jpeg);
    background-repeat: no-repeat;
    background-size:cover;
    color:white;
background-position: center;
height:100vh;

}
header .logo-nav img{
    flex-shrink:0;
    width:150px;
    height:150px;
}
header ul{
    list-style-type: none;
    display:flex;
    gap:50px;
    
    flex-grow:1;
    
}
a{
    text-decoration: none;
    color:white;
    font-weight: 600;
}
.logo-nav{
display:flex;
margin-left:10vw;
margin-right:10vw;
/*flex-wrap:wrap;*/
}
.nav-bar{
    display:flex;
    margin-left:auto;
}
.about{
    display:flex;
    /*margin-top:130px;*/
    /*background-color:black;*/
    color:white;
    margin:auto;
    flex-wrap: wrap;
    width:80vw;
    justify-content: center;
}
.about-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100vw;
    row-gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
    
   
    flex-wrap:wrap;
    
}
.about-info h1{
    margin-block-start:5px;
    margin-block-end: 10px;
    font-weight: 900;
    font-size:50px;
}
.about-info p{
    margin-block-start:10px;
    margin-block-end: 10px;
    font-weight: 500;
    font-size:18px;

}
 button{
    /* position: relative;*/
    border:2px solid white;
    background:black;
    color:white;
    height:50px;
    width:200px;
    font-size:20px;
    font-weight:600;
    border-radius: 10px;
    cursor: pointer;
   /* margin-top:10px;
   mix-blend-mode: screen;*/
}
/*button::before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: white;
    border-radius: 0.3em;
    content: '';
    mix-blend-mode: color-burn;
  }*/
.about-info button{
    margin-bottom:100px;
}
/*.about img{
    display:flex;
    width:600px;
    height:auto;
    margin-left:auto;
    padding-bottom:100px;
    margin-right:10vw;
    
}*/
.locations{
    
    display:flex;
    background:black;
    
    height:vh;
    flex-direction: column;
    align-items: center;
    
}
.cards-wrapper{
    display: flex;
    flex-wrap:wrap;
    /*flex-direction: column;*/
    margin-top:100px;
    align-items: center;
   
    justify-content: space-around;
    flex:1;
    width:80vw;
}
.cards-wrapper .image-n-desc{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
a p{
    text-align: center;
}
.cards-wrapper .image-n-desc img{
    width:350px;
    height:233px;
    
    border-radius: 15px;
}
.quotes-n-action{
    display: flex;
    flex-direction: column;
    color:white;
    margin-bottom:100px;
    align-items: center;
    margin-top: 100px;
    width:80vw;
}
.quotes-n-action .quotes,.action{
    display:flex;
    flex-direction: column;
    max-width: 60vw;
    margin-left:20vw;
    margin-right:20vw;
    
    row-gap: 10px;

}
.quotes p{
    
    margin-block-start: 0px;
    margin-block-end: 0px;
    font-size:35px;
    font-weight: 500;
}
#rightindent{
    text-align: right;
    font-size:30px;
    font-weight: 700;
}
/*.quotes-n-action .action{
    margin-top: 100px;
    display: flex;
    align-items: center;
    align-self: flex-start;
    margin-left: 20vw;
    margin-right: 20vw;
    flex:1;
}*/

.action-text{
    display:flex;
    flex-direction: column;
    row-gap: 2px;
    align-items: center;
    margin-left:auto;
    margin-right:auto;
   /* margin-right: 500px;*/
}
.action{
    margin-top: 100px;
    flex-direction: row;
    align-items:center;
    width:80vw;
}
footer{
    background-color: #444444;
    text-align: center;
    max-width: vw;
}
@media only screen and (max-width:1050px){
    header{
        background-color: black;
        background-image: none;
        height:auto;
        /*margin: 100px auto;*/
        
    }

.logo-nav{
    margin-left: 20px;
    margin-right:20px;
}
ul{
    flex-grow:0;
    flex-wrap: wrap;
}
.about{
    margin-top:100px;
    margin-bottom:100px;
}
.cards-wrapper{
    margin-top:0px;
}
    

.about-info h1{
    /*margin-block-start:5px;
    margin-block-end: 10px;*/
    font-weight: 600;
    font-size:30px;
}
.about-info p{
    /*margin-block-start:10px;
    margin-block-end: 10px;*/
    font-weight: 300;
    font-size:16px;

}
.about-info{
    row-gap: 50px;
}
.quotes p{
    
   /* margin-block-start: 0px;
    margin-block-end: 0px;*/
    font-size:25px;
    font-weight: 500;
}
#rightindent{
    text-align: right;
    font-size:18px;
    font-weight: 600;
}
button{
   
    border:2px solid white;
    background:black;
    color:white;
    height:30px;
    width:120px;
    font-size:15px;
    font-weight:400;
    border-radius: 10px;
    cursor: pointer;
   
}


}